<div
    class="container d-flex justify-content-center mt-5 flex-column text-center"
>
    <h1>Post Details</h1>
    <div class="border-start card rounded-4 ms-4 text-start">
        <div class="card-body">
            <h3 class="card-title mb-3">{{ post.title }}</h3>
            <p class="card-text mb-1">{{ post.body }}</p>

            <a
                class="create-post-btn mt-5 my-auto btn btn-primary align-self-start user-profile-btn"
                routerLink="active"
                [routerLink]="['/dashboard']"
            >
                Back
            </a>
        </div>
    </div>
</div>
<div id="container"></div>
