<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="javascript:void(0)">about us</a></li>
                    <li><a href="javascript:void(0)">our services</a></li>
                    <li><a href="javascript:void(0)">privacy policy</a></li>
                    <li><a href="javascript:void(0)">&copy;Post.</a></li>
                    <li><a href="javascript:void(0)">📅09-12-2004</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="javascript:void(0)">FAQ</a></li>
                    <li><a href="javascript:void(0)">returns</a></li>
                    <li><a href="javascript:void(0)">order status</a></li>
                    <li><a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="javascript:void(0)">watch</a></li>
                    <li><a [routerLink]="['/post_list']" routerLinkActive="active">Post List</a></li>
                    <li><a href="javascript:void(0)">shoes</a></li>
                    
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                    <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                    <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                    <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
