
<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>useful links</h4>
                <ul>
                    <li><a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a></li>
                    <li><a [routerLink]="['/post_list']" routerLinkActive="active">Post List</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="javascript:void(0)">FAQ</a></li>
                    <li><a href="javascript:void(0)">📅04-11-2024</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>credits</h4>
                <ul>
                    <li><a href="https://github.com/rdpic">Riccardo Del Piccolo</a></li>
                    <li><a href="https://github.com/vitod-ag">Vito Dagnello</a></li>
                    <li><a href="https://github.com/marcimerca">Marcello Mercanzin</a></li>
                    <li><a href="https://github.com/clarissa1110">Clarissa Piovesan</a></li>
                    <li><a href="">Luca Martella</a></li>
                    
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                    <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                    <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                    <a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
