<div class="container mt-4">
    <div
        class="container text-center d-flex gap-3 justify-content-center align-items-center"
    >
        <div class="container_pic">
            <img [src]="user.image" class="post_image" />
        </div>
        <h2 class="title">Welcome back, {{ user.name }}</h2>
    </div>
</div>
<div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Create new post
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form #newPost="ngForm" (ngSubmit)="onSubmit(newPost)">
                    <label for="title" class="form-label">Title:</label>
                    <input
                        type="text"
                        id="title"
                        name="title"
                        class="form-control"
                        required
                        ngModel
                    />
                    <label for="body" class="form-label">Body:</label>
                    <textarea
                        id="body"
                        name="body"
                        class="form-control"
                        required
                        ngModel
                    ></textarea>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary close-btn"
                            data-bs-dismiss="modal"
                        >
                            Close
                        </button>
                        <button
                            type="submit"
                            class="btn btn-primary create-post-btn"
                        >
                            Create post
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="d-flex justify-content-between">
                <button
                    type="button"
                    class="btn btn-primary mt-4 create-post-btn"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                >
                    Create new post
                </button>
                <button
                    type="button"
                    class="btn btn-danger mt-4 delete-confirm-btn"
                    (click)="finalizeDeletions()"
                >
                    Delete Selected
                </button>
            </div>
            <h2 class="mt-4 mb-1 p-0">Your posts:</h2>
            <div class="container">
                <div *ngIf="posts.length > 0">
                    <div *ngFor="let post of posts; let i = index" class="row">
                        <div
                            class="card p-0 mt-3"
                            [ngClass]="{
                                'post-to-be-deleted': toBeDeleted.includes(
                                    post.id!
                                ),
                                'post-to-be-restored': !toBeDeleted.includes(
                                    post.id!
                                )
                            }"
                        >
                            <div class="card-header">
                                <h4>{{ post.title!.toUpperCase() }}</h4>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ post.body }}</p>
                                <div
                                    class="d-flex gap-2 align-items-center justify-content-between"
                                >
                                    <div class="d-flex gap-2">
                                        <button
                                            type="button"
                                            class="btn btn-success modify-btn"
                                            data-bs-toggle="modal"
                                            [attr.data-bs-target]="
                                                '#modify' + i
                                            "
                                        >
                                            Modify
                                        </button>
                                        <div
                                            class="modal fade"
                                            [id]="'modify' + i"
                                            tabindex="-1"
                                            [attr.aria-labelledby]="
                                                'modifyLabel' + i
                                            "
                                            aria-hidden="true"
                                        >
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1
                                                            class="modal-title fs-5"
                                                            id="modify"
                                                        >
                                                            Modify post
                                                        </h1>
                                                        <button
                                                            type="button"
                                                            class="btn-close"
                                                            data-bs-dismiss="modal"
                                                            aria-label="Close"
                                                        ></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form
                                                            #modifyForm="ngForm"
                                                            (ngSubmit)="
                                                                onEdit(
                                                                    post.id!,
                                                                    modifyForm.value
                                                                )
                                                            "
                                                        >
                                                            <label
                                                                for="title"
                                                                class="form-label"
                                                                >Title:</label
                                                            >
                                                            <input
                                                                type="text"
                                                                id="title"
                                                                name="title"
                                                                class="form-control"
                                                                required
                                                                [ngModel]="
                                                                    post.title
                                                                "
                                                            />
                                                            <label
                                                                for="body"
                                                                class="form-label"
                                                                >Body:</label
                                                            >
                                                            <textarea
                                                                [ngModel]="
                                                                    post.body
                                                                "
                                                                id="body"
                                                                name="body"
                                                                class="form-control"
                                                                required
                                                                ngModel
                                                            ></textarea>
                                                            <div
                                                                class="modal-footer"
                                                            >
                                                                <button
                                                                    type="button"
                                                                    class="btn btn-secondary close-btn"
                                                                    data-bs-dismiss="modal"
                                                                >
                                                                    Close
                                                                </button>
                                                                <button
                                                                    type="submit"
                                                                    class="btn btn-success modify-btn"
                                                                    data-bs-dismiss="modal"
                                                                >
                                                                    Save changes
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button
                                            type="button"
                                            (click)="toggleDelete(post.id!)"
                                            class="btn btn-warning delete-btn"
                                        >
                                            {{
                                                toBeDeleted.includes(post.id!)
                                                    ? "Undo Delete"
                                                    : "Delete"
                                            }}
                                        </button>
                                    </div>
                                    <p class="card-text date-p mb-0">
                                        <small
                                            >Posted on:
                                            {{
                                                post.createdAt
                                                    | date : "MMM d, y, h:mm a"
                                            }}</small
                                        >
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="container">
                <div class="d-flex justify-content-between" id="hidden">
                    <button
                        type="button"
                        class="btn btn-primary mt-4 create-post-btn"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal"
                    >
                        Create new post
                    </button>
                    <button
                        type="button"
                        class="btn btn-danger mt-4 delete-confirm-btn"
                        (click)="finalizeDeletions()"
                    >
                        Delete Selected
                    </button>
                </div>
                <h2 class="mt-4 mb-3 p-0">Liked Posts</h2>
                <div
                    *ngFor="let post of favorites"
                    class="border-start card ms-4 mb-3"
                >
                    <div class="card-body">
                        <h3 class="card-title mb-3">{{ post.title }}</h3>
                        <p class="card-text mb-1">
                            {{ post.body?.slice(0, 30) + "..." }}
                        </p>

                        <div
                            class="container d-flex justify-content-between mt-5"
                        >
                            <a
                                class="create-post-btn btn btn-primary float-end user-profile-btn"
                                routerLink="active"
                                [routerLink]="['/post_list', post.id]"
                            >
                                Details
                            </a>
                        </div>
                    </div>
                </div>

                <!-- <ul class="list-group" *ngIf="favorites.length > 0">
                    <li class="list-group-item" *ngFor="let post of favorites">
                        <div class="card-body">
                            <h4 class="card-title">{{ post.title }}</h4>
                        </div>
                    </li>
                </ul> -->
                <p *ngIf="favorites.length === 0">No favorites yet.</p>
            </div>
        </div>
    </div>
</div>

<div id="container"></div>
