.navbar {
    background-color: #24262b;
}

.nav-link {
    color: darkgray !important;
}

.nav-link:focus {
    color: lightgray !important;
}

.logout-btn {
    background-color: #ff4136;
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
  
.logout-btn:hover {
    background-color: #e12d2d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}