<div class="container text-center p-5">
    <div class="container">
        <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
            <div class="card bg-white p-5 rounded-5">
                <h1>SIGN UP</h1>
                <div class="form-group">
                    <input
                        placeholder="Name..."
                        type="text"
                        id="name"
                        name="name"
                        required
                        class="form-control-plaintext border-0 border-bottom mb-4"
                        ngModel
                    />

                    <input
                        placeholder="Email..."
                        type="email"
                        id="email"
                        name="email"
                        required
                        class="form-control-plaintext border-0 border-bottom mb-4"
                        ngModel
                    />

                    <input
                        placeholder="Password..."
                        type="password"
                        id="password"
                        name="password"
                        required
                        class="form-control-plaintext border-0 border-bottom mb-4"
                        ngModel
                    />

                    <input
                        placeholder="Image URL..."
                        type="url"
                        id="image"
                        name="image"
                        class="form-control-plaintext border-0 border-bottom mb-4"
                        ngModel
                    />
                </div>
                <button
                    type="submit"
                    [disabled]="signupForm.invalid"
                    class="btn btn-primary mt-5 mx-auto"
                >
                    REGISTER NOW
                </button>
            </div>
        </form>
    </div>
</div>
