<div class="container text-center d-flex flex-column p-5">
    <h1 class="text-danger fw-bolder display-3"></h1>
    <h2 class="lh-lg">
        Welcome to our Post Service Platform! <br />
        To get started
        <a
            class="btn btn-primary"
            [routerLink]="['/login']"
            routerLinkActive="active"
            >LOGIN</a
        >
        or
        <a
            class="btn btn-primary"
            [routerLink]="['/register']"
            routerLinkActive="active"
            >SIGN UP</a
        >
    </h2>
</div>
<div id="container"></div>
